/* @media screen and (max-width:768px) +++++++++++++++++++++++++++++++++++++ */

/* <!-- <Boolzapp back +++++++++++++++++++++++++++++++++++++ > --> */

@media screen and (max-width:768px) {

    .main-container {
        height: 100%;
        width: 100%;

    }

    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #notifics {
        display: none;
    }

    #search {
        display: none;
    }



}




/* @media screen and (max-width:480px) +++++++++++++++++++++++++++++++++++++ */

/* <!-- <Boolzapp back +++++++++++++++++++++++++++++++++++++ > --> */

@media screen and (max-width:480px) {


    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #user-options {
        display: none;
    }


    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #notifics {
        display: none;
    }

    #search {
        display: none;
    }

    #user-chat {
        width: 100%;
    }
}