/* @media screen and (max-width:768px) +++++++++++++++++++++++++++++++++++++ */

/* <!-- <Boolzapp back +++++++++++++++++++++++++++++++++++++ > --> */

@media screen and (max-width:768px) {

    /* common */

    .main-container {
        height: 100%;
        width: 100%;

    }

    .pic-block {
        width: 100%;


        /* debug */
        border: 1px solid black;
    }

    .overflow-hidden {
        scrollbar-width: none;
    }

    .contact-text {
        display: none;
    }

    /* <!-- user-options +++++++++++++++++++++++++++++++++++++ --> */

    #user-options {
        width: 60px;
    }

    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    .options-block {
        display: none;
    }

    /* <!-- notifics +++++++++++++++++++++++++++++++++++++--> */

    #notifics {
        display: none;
    }

    /* <!-- search +++++++++++++++++++++++++++++++++++++ --> */


    #search {
        display: none;
    }

    /* <!-- user chat +++++++++++++++++++++++++++++++++++++--> */
    #user-chat {
        flex-grow: 1;
    }

    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #header-user-chat .pic-block {
        width: 50px;

    }

    #header-user-chat .contact-text-user-chat {
        width: 100%;

    }

    /* <!-- footer-user-chat +++++++++++++++++++++++++++++++++++++--> */

    #footer-user-chat div {
        display: none;
    }

    #footer-user-chat input {
      width: 100%;
      margin: 0 10px;
    }

}




/* @media screen and (max-width:480px) +++++++++++++++++++++++++++++++++++++ */

/* <!-- <Boolzapp back +++++++++++++++++++++++++++++++++++++ > --> */

@media screen and (max-width:480px) {

    /* <!-- user chat +++++++++++++++++++++++++++++++++++++--> */


    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #user-options {
        display: none;
    }


    /* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */

    #notifics {
        display: none;
    }

    #search {
        display: none;
    }

    #user-chat {
        width: 100%;
    }

}