:root {
    --green-top: #009688;
}

/* approccio: desktop first  */

/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMONS +++++++++++++++++++++++++++++++++++++*/

.col-small {
    width: 35%;
    height: 100%;
}

.col-big {
    width: 65%;
    height: 100%;
}

.pic-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 50px;
    min-height: 30px;
    aspect-ratio: 1;

    /* debug */
    background-color: blue;
    border: 1px solid green;
}


.overflow-hidden {
    overflow: hidden;
    overflow-y: auto;
}

.left-text-block {
    position: relative;
    display: flex;
    height: 50px;
    /* debug */
    background-color: pink;
    border: 1px solid black;
}

.options-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    /* debug */
    aspect-ratio: 2;
    background-color: lightblue;

}

.pic-block img {
    border-radius: 50%;
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}


.message{

    border-radius: 15px;
    /* debug */
    height: 200px;
    width: 60%;
    background-color: green;
}


/* utilities +++++++++++++++++++++++++++++++++++++*/
/* flex */

.flex-shrink-0 {
    flex-shrink: 0;
}

/* justify content  */

.justify-sb {
    justify-content: space-between;
}

/* heights */
.height-7-p {
    height: 7%;

}

/* bg colors +++++++++++++++++++++++++++++++++++++*/

.bg-green {
    background-color: var(--green-top)
}

.bg-red {
    background-color: red;
}

.bg-grey {
    background-color: #d8dbd5;
}

/* text  */
.text-font-6px{
    font-size: 6px;
}

.text-font-12px{
    font-size: 12px;
}


/* <!-- <Boolzapp back +++++++++++++++++++++++++++++++++++++ > --> */


.Boolzapp-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    /* debug */
    border: 5px solid black;
    height: 100vh;
    width: 100%;
}

.main-container {
    display: flex;
    background-color: red;
    position: absolute;
    height: 90%;
    width: 80%;


    /* debug */
    border: 1px solid black;
    min-height: 50px;
    min-width: 200px;

}

.back-header {
    height: 10%;
    width: 100%;
    /* debug */
    border: 1px solid black;
    min-height: 50px;
    min-width: 200px;
}

.back-footer {
    height: 90%;
    width: 100%;

    /* debug */
    border: 1px solid black;
    min-height: 200px;
    min-width: 200px;

}

/* <!-- user options +++++++++++++++++++++++++++++++++++++--> */

#user-options {

    /* debug */
    background-color: antiquewhite;

}

/* <!-- header-user-options +++++++++++++++++++++++++++++++++++++--> */


#user-options {
    display: flex;
    flex-direction: column;

}

.options-block i {
    padding: 0 5px;

}

#notifics {

    display: flex;
    align-items: center;

    /* debug */
    background-color: white;
    height: 70px;

}

/* <!-- notifics +++++++++++++++++++++++++++++++++++++--> */

.notification-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    background-color: white;
}


/* search +++++++++++++++++++++++++++++++++++++ */

#search {
    display: flex;
    position: relative;


    /* debug */
    background-color: lawngreen;
    max-height: 25px;

}

#search input{
    align-self: center;
    width: 90%;
    margin: 0 auto;
}

.lens{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    z-index: 999;
}

/* <!-- contact-list +++++++++++++++++++++++++++++++++++++ --> */


#contact-list {
    /* debug */
    background-color: fuchsia;
    flex-grow: 1;
}

.contact-text {
    display: flex;
    flex-direction: column;

    /* debug */
    border: 1px solid black;
    height: 100%;
    min-width: 80%;
}

.contact-text-user-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;;

    /* debug */
    border: 1px solid black;
    height: 100%;
    min-width: calc(70% - 50px);
}

.contact-text-top {
    display: flex;

    /* debug */
    border: 1px solid black;
    justify-content: space-between;

}

.contact-text p{
    padding: 5px;

    /* debug */
    border: 1px solid black;

}

.contact-text-user-chat p{
    padding: 5px;

    /* debug */
    border: 1px solid black;

}

.contact-text-top p{

    /* debug */
    border: 1px solid black;

}


.contact-text-bottom {

    /* debug */
    border: 1px solid black;

}






/* <!-- user chat +++++++++++++++++++++++++++++++++++++--> */

#user-chat {
    display: flex;
    flex-direction: column;

    /* debug */
    background-color: orange;

}

/* <!-- header-user-chat +++++++++++++++++++++++++++++++++++++--> */


#header-user-chat {
    display: flex;

    /* debug */
    background-color: blue;
    height: 50px;

}

/* <!-- messages +++++++++++++++++++++++++++++++++++++ --> */

#messages {

    /* debug */
    background-image: url(../img/mine.jpg);
    flex-grow: 1;

}

#messages{
    display: flex;
    flex-direction: column;
}

#messages .message:first-child {
    margin: 50px 50px 0 0;
    align-self: flex-end;

}

#messages .message:nth-child(2) {
    margin: 10px 0 0 50px;

}

/* <!-- footer-user-chat +++++++++++++++++++++++++++++++++++++--> */

#footer-user-chat {
    height: 30px;
    display: flex;
    background-color: antiquewhite;
    align-items: center;
}

#footer-user-chat div {
    padding: 0 10px;
}

#footer-user-chat input {
    width: 80%;
}